<section class="s-contacts">
  <div class="container">
    <h1 class="s-contacts__title">
      {{ .Title }}
    </h1>
    <p class="s-contacts__descr">{{ .Description }}</p>
    <div class="contact-form">
      <form action="#">
        <div class="form-control">
          <input type="text" required placeholder="Your Name">
        </div>
        <div class="form-control">
          <input type="email" required placeholder="Email">
        </div>
        <div class="form-btn">
          <button type="submit" class="btn btn-black">Send</button>
        </div>
      </form>
    </div>
  </div>
</section>