<section class="s-contacts get-in-touch">
  <div class="container">
    <div class="s-contacts__wrap">
      <h1 class="s-contacts__title">
        <span>{{ .Title }}</span>
      </h1>
      <p class="s-contacts__descr">{{ .Description }}</p>
      <div class="contact-form">
        <form action="#" method="post">
          <div class="form-control">
            <input type="text" name="name" class="input-control" required placeholder="Your Name">
          </div>
          <div class="form-control">
            <input type="email" name="email" class="input-control" required placeholder="Email">
          </div>
          <div class="form-btn">
            <button type="submit" class="btn btn-black">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>