html, body {
  overflow-x: hidden;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  color: $grey;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: all .3s;
}

img {
  max-width: 100%;
}

p {
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.form-control {
  margin-bottom: 36px;
  @include media-lte(tablet) {
    margin-bottom: 25px;
  }
}

.form-message {
  margin: 0 0 36px;
  &.error {
    color: red;
  }
  &.success {
    color: green;
  }
}

.input-error-message {
  display: block;
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.input-control {
  width: 100%;
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: $font-main;
  color: $black-4;
  outline: none;
  background: $grey-light;
  border-radius: 8px;
  border: 1px solid transparent;
  appearance: none;
  &.input-error {
    border: 1px solid red;
    &:focus {
      border: 1px solid red;
    }
  }
  &::placeholder {
    opacity: 1;
    color: $grey-light-2;
  }
}

.btn {
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  border-radius: 6px;
  color: $white;
  font-family: $font-main;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  outline: none;
  border: 0;
  transition: all .3s;
  &.btn-sm {
    min-height: 40px;
    padding: 0 20px;
    font-size: 15px;
  }
  &.btn-primary {
    background: $accent;
    &:hover {
      background: $purple;
    }
  }
  &.btn-black {
    background: $black-2;
    color: $grey-light-1;
    &:hover {
      background: $accent;
    }
  }
  &.btn-purple-light {
    background: $purple;
    &:hover {
      background: $accent;
    }
  }
  &.btn-rounded {
    border-radius: 200px;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
    background-color: $grey;
    &:hover {
      background-color: $grey;
    }
  }
  &.submitted {
    cursor: default;
    background-color: green;
    opacity: .5;
    &:hover {
      background-color: green;
    }
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-accent {
  color: $accent;
}

.text-purple {
  color: $purple;
}

.text-italic {
  font-style: italic;
}

.s-title-lg {
  font-weight: 700;
  font-size: 70px;
  line-height: 94px;
  letter-spacing: -0.035em;
  color: $black-2;
  @include media-lte(desktop-lg) {
    font-size: 58px;
    line-height: 82px;
  }
  @include media-lte(tablet) {
    font-size: 40px;
    line-height: 56px;
  }
}

.s-title-md {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  letter-spacing: -0.015em;
  color: $black;
  @include media-lte(desktop-lg) {
    font-size: 52px;
    line-height: 62px;
  }
  @include media-lte(tablet) {
    font-size: 34px;
    line-height: 44px;
  }
}

.s-title-sm {
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  letter-spacing: -0.015em;
  color: $black;
  @include media-lte(desktop-lg) {
    font-size: 42px;
    line-height: 60px;
  }
  @include media-lte(tablet) {
    font-size: 30px;
    line-height: 36px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.site-logo {
  display: flex;
  align-items: center;
}

.page-not-found {
  padding: 100px 0;
  text-align: center;
  .btn {
    margin-top: 20px;
  }
}

.search-control {
  width: 100%;
  height: 50px;
  padding: 10px 10px 10px 34px;
  display: flex;
  align-items: center;
  border: 1px solid $accent;
  background-color: $white;
  border-radius: 8px;
  @include media-lte(tablet) {
    padding-left: 15px;
  }

  // .search-control__icon

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 13px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  // .search-control__input

  &__input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    font-family: $font-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $black;
    &::placeholder{
      color: $grey;
    }
  }
}

.question-card {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background:$grey-light-1;
  border-radius: 24px;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include media-lte(tablet) {
    padding: 15px;
  }
  @include media-lte(tablet-xs) {
    flex-direction: column;
    align-items: center;
    padding: 12px 15px;
  }
  
  // .question-card__img

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 16px;
    flex-shrink: 0;
    @include media-lte(tablet-xs) {
      margin-bottom: 7px;
      margin-right: 0;
    }
    img {
      object-fit: cover;
      object-position: center;
    }
  }

  // .question-card__btn

  &__btn {
    flex-shrink: 0;
    .btn {
      @include media-lte(tablet-xs) {
        min-height: 38px;
      }
    }
  }

  // .question-card__text

  &__text {
    margin-right: 27px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: $black-2;
    text-align: left;
    @include media-lte(tablet) {
      font-size: 18px;
      line-height: 24px;
    }
    @include media-lte(tablet-xs) {
      margin-bottom: 10px;
      margin-right: 0;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }
  }
}

// Burger menu

.hamburger {
	display: block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
	&:hover {
		opacity: 0.8;
	}
}
.hamburger.is-active {
	&:hover {
		opacity: 0.8;
	}
	.hamburger-inner {
		background-color: $black-2;
		&::before {
			background-color: $black-2;
		}
		&::after {
			background-color: $black-2;
		}
	}
}
.hamburger-box {
	width: 35px;
	height: 24px;
	display: inline-block;
	position: relative;
}
.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
	width: 35px;
	height: 4px;
	background-color: $black-2;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
	&::before {
		width: 35px;
		height: 4px;
		background-color: $black-2;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
		content: "";
		display: block;
		top: -10px;
	}
	&::after {
		width: 35px;
		height: 4px;
		background-color: $black-2;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
		content: "";
		display: block;
		bottom: -10px;
	}
}

.hamburger--slider {
	.hamburger-inner {
		top: 2px;
		&::before {
			top: 10px;
			transition-property: transform, opacity;
			transition-timing-function: ease;
			transition-duration: 0.15s;
		}
		&::after {
			top: 20px;
		}
	}
}
.hamburger--slider.is-active {
	.hamburger-inner {
		transform: translate3d(0, 10px, 0) rotate(45deg);
		&::before {
			transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
			opacity: 0;
		}
		&::after {
			transform: translate3d(0, -20px, 0) rotate(-90deg);
		}
	}
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  background-color: rgba($black-2, .6);
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}

.hidden {
  display: none;
}

.hidden-desktop {
  @include media-gte(tablet) {
    display: none!important;
  }
}

.hidden-mobile {
  @include media-lt(tablet) {
    display: none!important;
  }
}

.arrows-control {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: MoveUpDown 1.5s linear infinite;
  svg {
    path {
      transition: all .3s;
    }
  }
  &:hover {
    path {
      fill: $accent;
    }
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}