// Font Variables
$font-main: 'DM Sans', sans-serif;

// Color Variables
$white: #fff;
$black: #000;
$black-1: #1F1F1F;
$black-2: #222529;
$black-3: #141416;
$accent:#5141C3;
$purple:#6D5AFF;
$purple-1:#9183FF;
$purple-2:#DBD6FF;
$grey: #84878B;
$grey-light: #F5F5F5;
$grey-light-1: #F4F5F6;
$grey-light-2: #B1B5C4;
$grey-light-3: #FCFCFD;
