// Font Variables
$font-main: 'DM Sans', sans-serif;

// Color Variables
$white: #fff;
$black: #000;
$black-1: #1F1F1F;
$black-2: #222529;
$accent:#5141C3;
$purple:#6D5AFF;
$grey: #84878B;
$grey-light: #F5F5F5;
$grey-light-1: #F4F5F6;
