{{ define "main" }}

<section class="single-blog">
  <div class="container">
    <div class="single-artictle-top">
      <div class="post-author">
        <div class="post-author__img">
          <img src="{{ .Params.authorImg }}" loading="lazy" width="40" height="40" alt="{{ .Params.author }}">
        </div>
        <div class="post-author__name">
          {{ .Params.author }}
        </div>
      </div>
      <div class="single-post-title">
        <h1>{{ .Title }}</h1>
        <span>{{ .Params.timeRead }}</span>
      </div>
    </div>
    <div class="single-blog-content">
      <div class="single-blog-content__img">
        <img src="{{ .Params.postImage }}" loading="lazy" width="1110" height="500" alt="{{ .Title }}">
      </div>
      <div class="single-blog-content__inner">
        {{ .Content | safeHTML }}
      </div>
    </div>
  </div>
</section>

{{ end }}