<section class="s-buying-items">
  <div class="container">
    <div class="s-buying-items__wrap">
      {{ range .Params.items }}
      <div class="buying-item">
        <div class="buying-item__icon">
          <img src="{{ .icon }}" loading="lazy" width="100" height="100" alt="{{ .alt }}">
        </div>
        <div class="buying-item__content">
          <h2 class="buying-item__title">{{ .title }}</h2>
          <p class="buying-item__text">{{ .text }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>