.site-header {
  padding: 40px 0;
  width: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all .3s ease-in-out;

  &.active {
    padding: 25px 0;
    box-shadow: 0 5px 10px rgba($grey, 0.1);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-logo {
    display: flex;
    align-items: center;
  }

  // .site-header__left

  &__left {
    width: 30%;
    display: flex;
    align-items: center;
  }

  // .site-header__nav

  &__nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      li {
        margin-left: 60px;
        a {
          color: $black-2;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          &:hover {
            color: $accent;
          }
        }
      }
    }
  }

  // .site-header__right

  &__right {
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }
}
