/* Top section
  ========================================================================== */

.s-home-top {
  padding: 290px 0 98px;
  text-align: center;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 176px;
    right: 0;
    width: 669px;
    height: 666px;
    background: url("/img/figure-img-1.svg") no-repeat right center;
  }

  h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -0.035em;
    color: $black-1;
  }

  p {
    margin: 0 0 80px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.015em;
    strong {
      font-weight: 700;
    }
  }

  // .home-top__controls

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 55px;

    .btn {
      margin-right: 36px;
    }
  }

  // .home-top__search

  &__search {
    width: 387px;
  }

  // .home-top__title-group

  &__title-group {
    position: relative;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }

  // .home-top__img

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 227px;
    right: calc(100% + 55px);
    top: 0;
    img {
      border-radius: 27px 27px 27px 75.5px;
    }
  }

  // .s-home-top__img-big

  &__img-big {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 327px;
    width: 100%;
    height: 390px;
    .question-card {
      width: 668px;
      top: -70px;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 24px;
    }
  }
}

/* Why us section
  ========================================================================== */

.s-why-us {
  position: relative;
  padding: 98px 0 106px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 689px;
    height: 662px;
    background: url("/img/figure-img-2.svg") no-repeat left center;
  }

  .s-title-lg {
    margin-bottom: 30px;
  }

  // .s-why-us__wrap

  &__wrap {
    display: flex;
    align-items: flex-start;
  }

  // .s-why-us__left

  &__left {
    flex: 0 0 280px;
    img {
      border-radius: 57px 17px;
    }
  }

  // .s-why-us__right

  &__right {
    padding-left: 66px;
    flex: 1;
  }

  // .s-why-us__text

  &__text {
    width: 100%;
    max-width: 688px;
    p {
      margin-top: 0;
      margin-bottom: 25px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $black-2;
    }
  }

  // .s-why-us__controls

  &__controls {
    display: flex;
    align-items: center;
    margin-top: 46px;
  }

  // .s-why-us__search

  &__search {
    width: 398px;
    margin-right: 31px;
  }
}

/* Why us section
  ========================================================================== */


.s-founder {
  background: $grey-light-1;
  padding: 58px 0 90px;
  border-radius: 24px 24px 0px 0px;
  .s-title-md {
    width: 100%;
    max-width: 668px;
    margin-bottom: 24px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 26px;
      height: 17px;
      left: -71px;
      background: url("/img/quote-icon.svg") no-repeat;
      background-size: cover;
    }
  }

  // .s-founder__wrap

  &__wrap {
    padding: 0 55px;
  }

  // .s-founder__note

  &__note {
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $black-2;
    margin-bottom: 40px;
  }

  // .s-founder__text

  &__text {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $grey;
  }

  // .s-founder__details

  &__details {
    margin-top: 40px;
  }

  // .s-founder__details-name

  &__details-name, &__details-company {
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: $black-2;
  }

  // .s-founder__details-company

  &__details-company {
    color: $accent;
  }

  // .s-founder__details-sign

  &__details-sign {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }
}
