/* Top section
  ========================================================================== */

.s-why-top {
  position: relative;
  padding-top: 177px;
  @include media-lte(tablet) {
    padding-top: 100px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 297px;
    left: 0;
    width: 631px;
    height: 584px;
    z-index: 2;
    background: url("/img/figure-img-7.svg") no-repeat left center;
  }

  // .s-why-top__arrows

  &__arrows {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    @include media-lte(desktop) {
      margin-top: 30px;
    }
  }

  // .s-why-top__title

  &__title {
    position: relative;
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 120px;
    line-height: 130px;
    letter-spacing: -0.035em;
    color: $black-2;
    @include media-lte(desktop-lg) {
      margin-bottom: 35px;
      font-size: 80px;
      line-height: 90px;
    }
    @include media-lte(tablet) {
      margin-bottom: 20px;
      font-size: 42px;
      line-height: 52px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: -300px;
      width: 600px;
      height: 182px;
      background: rgba($purple-1, .4);
      filter: blur(75px);
      transform: rotate(-6deg);
    }
    strong {
      position: relative;
      z-index: 3;
    }
    span {
      display: block;
      padding-left: 140px;
      @include media-lte(desktop-lg) {
        display: inline;
        padding-left: 0;
      }
    }
  }

  // .s-why-top__descr

  &__descr {
    position: relative;
    z-index: 4;
    width: 100%;
    max-width: 849px;
    margin-left: 140px;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: $black-2;
    @include media-lte(desktop-lg) {
      margin-left: 0;
      font-size: 32px;
      line-height: 45px;
    }
    @include media-lte(tablet) {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

/* First info section
  ========================================================================== */

.s-why-first-info {
  position: relative;
  z-index: 3;
  padding: 170px 0 100px;
  @include media-lte(desktop) {
    padding: 40px 0;
  }
  // .s-why-first-info__wrap

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include media-lte(tablet-xs) {
      flex-direction: column;
    }
  }

  // .s-why-first-info__left

  &__left {
    flex: 0 0 406px;
    height: 246px;
    border-radius: 103px 59px 59px 59px;
    overflow: hidden;
    @include media-lte(desktop-lg) {
      flex: 0 0 320px;
    }
    @include media-lte(tablet) {
      flex: 0 0 250px;
      height: 200px;
    }
    @include media-lte(tablet-xs) {
      flex: auto;
      width: 100%;
      border-radius: 83px 29px 29px 29px;
      margin-bottom: 20px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  // .s-why-first-info__right

  &__right {
    flex: 1;
    padding-left: 59px;
    @include media-lte(desktop-lg) {
      padding-left: 30px;
    }
    @include media-lte(tablet) {
      padding-left: 20px;
    }
    @include media-lte(tablet-xs) {
      flex: auto;
      width: 100%;
      padding-left: 0;
    }
  }

  // .s-why-first-info__title

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: $black;
    @include media-lte(tablet) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  // .s-why-first-info__text

  &__text {
    width: 100%;
    max-width: 576px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $black;
    @include media-lte(tablet) {
      font-size: 16px;
      line-height: 150%;
    }
  }

  // .s-why-first-info__arrows

  &__arrows {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include media-lte(tablet) {
      margin-top: 20px;
    }
  }
}

/* Second info section
  ========================================================================== */

.s-why-second-info {
  padding: 35px 0 100px;
  @include media-lte(desktop) {
    padding: 0 0 100px;
  }
  @include media-lte(tablet) {
    padding: 0 0 40px;
  }
  // .s-why-second-info__wrap

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-lte(tablet-xs) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }

  // .s-why-second-info__left

  &__left {
    flex: 1;
    margin-top: -100px;
    @include media-lte(tablet-xs) {
      flex: auto;
      width: 100%;
      margin-top: 0;
    }
  }

  // .s-why-second-info__text

  &__text {
    position: relative;
    z-index: 1;
    background-color: $purple-2;
    padding: 64px 60px 57px 66px;
    width: calc(100% + 35px);
    @include media-lte(desktop) {
      padding: 40px;
    }
    @include media-lte(tablet) {
      padding: 22px;
    }
    @include media-lte(tablet-xs) {
      width: 100%;
    }
    p {
      margin: 0 0 30px;
      font-weight: 400;
      font-size: 36px;
      line-height: 50px;
      letter-spacing: -0.015em;
      color: $black;
      @include media-lte(desktop) {
        font-size: 28px;
        line-height: 42px;
      }
      @include media-lte(tablet) {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 10px;
      }
    }
    span {
      display: block;
      font-style: italic;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.015em;
      color: $black;
    }
  }

  // .s-why-second-info__right

  &__right {
    flex: 0 0 453px;
    height: 720px;
    border-radius: 0px 0px 152px 0px;
    overflow: hidden;
    @include media-lte(desktop) {
      flex: 0 0 370px;
      height: 620px;
    }
    @include media-lte(tablet) {
      flex: 0 0 320px;
      height: 580px;
    }
    @include media-lte(tablet-xs) {
      flex: auto;
      width: 100%;
      height: 330px;
      border-radius: 0px 100px 0px 0px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  // .s-why-second-info__arrows

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 136px;
    @include media-lte(desktop) {
      margin-top: 100px;
    }
    @include media-lte(tablet) {
      margin-top: 30px;
    }
  }
}

/* Items section
  ========================================================================== */


.s-why-items {
  padding: 73px 0 113px;
  @include media-lte(desktop) {
    padding: 0 0 100px;
  }
  @include media-lte(tablet) {
    padding: 0 0 40px;
  }
  // .s-why-items__wrap

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -30px;
    @include media-lte(desktop) {
      margin: 0 -15px;
    }
    @include media-lte(tablet-xs) {
      margin: 0;
    }
  }

  // .s-why-items__question

  &__question {
    margin-top: 70px;
    @include media-lte(tablet) {
      margin-top: 20px;
    }
    .question-card {
      position: relative;
      width: 100%;
      max-width: 668px;
      margin: 0 auto;
    }
  }
}

.why-item {
  $root: &;

  width: calc(33.3333% - 60px);
  margin: 0 30px 40px;
  @include media-lte(desktop) {
    width: calc(33.3333% - 30px);
    margin: 0 15px 40px;
  }
  @include media-lte(tablet) {
    width: calc(50% - 30px);
  }
  @include media-lte(tablet-xs) {
    width: 100%;
    margin: 0 0 30px;
  }
  &:nth-child(3n+1) {
    #{$root}__img {
      border-radius: 0px 40px 161px 0px;
      @include media-lte(tablet-xs) {
        border-radius: 0px 30px 121px 0px;
      }
    }
  }
  &:nth-child(3n+2) {
    #{$root}__img {
      border-radius: 161px 0px 40px 40px;
      @include media-lte(tablet-xs) {
        border-radius: 121px 0px 30px 30px;
      }
    }
  }
  &:nth-child(3n+3) {
    #{$root}__img {
      border-radius: 138px 138px 0px 138px;
      @include media-lte(tablet-xs) {
        border-radius: 100px 100px 0px 100px;
      }
    }
  }

  // .why-item__img

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 288px;
    margin-bottom: 38px;
    overflow: hidden;
    @include media-lte(tablet) {
      height: 215px;
      margin-bottom: 10px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  // .why-item__title

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: $black;
    margin-bottom: 38px;
    @include media-lte(desktop) {
      margin-bottom: 25px;
      font-size: 28px;
      line-height: 38px;
    }
    @include media-lte(tablet) {
      font-size: 22px;
      line-height: 150%;
      margin-bottom: 0px;
    }
  }

  // .why-item__text

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: $black;
    @include media-lte(tablet) {
      font-size: 16px;
      line-height: 28px;
    }
    p {
      @include media-lte(tablet) {
        margin-bottom: 0px;
      }
    }
  }
}
