{{ $logo := .Site.Params.logo | absURL }}
{{ $email := .Site.Params.email }}

<footer class="site-footer {{ if .IsHome }}light{{ else }}grey{{ end }}">
  <div class="container">
    <div class="site-footer__wrap">
      <div class="site-footer__left">
        <a href="{{ .Site.BaseURL }}" class="site-logo">
          <img src="{{ $logo }}" loading="lazy" width="149" height="30" alt="SmplyTitle logo">
        </a>
        <a href="mailto:{{ $email }}" class="site-footer__email">{{ $email }}</a>
        <div class="copyright">&copy;&nbsp;{{ .Site.Copyright }}</div>
      </div>
      <div class="site-footer__right">
        <nav class="site-footer__nav">
          <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.footer }}
              {{ $active := in $currentPage.RelPermalink .URL }}
              <li {{ if $active }}class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>

{{ $hubspotFormApi := .Site.Params.hubspotFormApi }}
{{ $hubspotPortalId := .Site.Params.hubspotPortalId }}
{{ $hubspotContactFormId := .Site.Params.hubspotContactFormId }}
{{ $hubspotGetInTouchFormId := .Site.Params.hubspotGetInTouchFormId }}

{{ $hubspotSubscriptioFormId := .Site.Params.hubspotSubscriptioFormId }}

{{ $script := resources.Get "js/script.js" | minify | js.Build (dict "params" 
  (dict "hubspotFormApi" $hubspotFormApi
  "hubspotPortalId" $hubspotPortalId
  "hubspotContactFormId" $hubspotContactFormId
  "hubspotGetInTouchFormId" $hubspotGetInTouchFormId
  "hubspotSubscriptioFormId" $hubspotSubscriptioFormId)) }}
<script src="{{ $script.Permalink }}"></script>