{{ $logo := .Site.Params.logo | absURL }}
{{ $email := .Site.Params.email }}

<footer class="site-footer {{ if .IsHome }}light{{ else }}grey{{ end }}">
  <div class="container">
    <div class="site-footer__wrap">
      <div class="site-footer__left">
        <a href="{{ .Site.BaseURL }}" class="site-logo">
          <img src="{{ $logo }}" alt="SmplyTitle logo">
        </a>
        <a href="mailto:{{ $email }}" class="site-footer__email">{{ $email }}</a>
        <div class="copyright">&copy;&nbsp;{{ .Site.Copyright }}</div>
      </div>
      <div class="site-footer__right">
        <nav class="site-footer__nav">
          <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
              {{ $active := in $currentPage.RelPermalink .URL }}
              <li class="{{ if $active }}active{{ end }}"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>

{{ $hubspotForm := .Site.Params.hubspotForm }}
{{ $hubspotPortalId := .Site.Params.hubspotPortalId }}
{{ $hubspotContactFormId := .Site.Params.hubspotContactFormId }}
{{ $hubspotGetInTouchFormId := .Site.Params.hubspotGetInTouchFormId }}

{{ $script := resources.Get "js/script.js" | minify | js.Build (dict "params" 
  (dict "hubspotForm" $hubspotForm
  "hubspotPortalId" $hubspotPortalId
  "hubspotContactFormId" $hubspotContactFormId
  "hubspotGetInTouchFormId" $hubspotGetInTouchFormId)) }}
<script src="{{ $script.Permalink }}"></script>