{{ $logo := .Site.Params.logo | absURL }}

<header class="site-header" id="site-header">
  <div class="container">
    <div class="site-header__left">
      <a href="{{ .Site.BaseURL }}" class="site-logo">
        <img src="{{ $logo }}" alt="SmplyTitle">
      </a>
    </div>
    <div class="site-header__right">
      <nav class="site-header__nav">
        <ul>
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</header>