{{ $title := .Site.Params.features.title }}

<section class="s-features">
  <div class="s-features__intro">
    <div class="container">
      <div class="s-features__title">
        <h2 class="s-title text-center">{{ $title }}</h2>
      </div>
    </div>
  </div>
  <div class="feature-items">
    {{ range .Site.Data.features }}
      <div class="feature-item">
        <div class="container">
          <div class="feature-item__left">
            <img src="{{ .img }}" alt="">
          </div>
          <div class="feature-item__right">
            <h4 class="feature-item__title">{{ .title }}</h4>
            <p class="feature-item__descr">{{ .description }}</p>
            <a href="{{ .url }}" class="btn btn-primary btn-sm">{{ .btnText }}</a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>