{{ $imgUrl2 := .Site.Params.homeIntro.img_url_2 | absURL }}
{{ $imgAlt2 := .Site.Params.homeIntro.img_alt_2 }}

<div class="s-question">
  <div class="container">
    <div class="s-question__img-big">
      <!--{{ partial "common/question-card.html" (
        dict "imgPath" "img/person-img-1.jpg"
        "text" "Have a question you want answered?"
        "btnUrl" "/contact-us/"
        "btnText" "Send us a note"
      ) }}-->
      <img src="{{ $imgUrl2 }}" loading="lazy" width="1110" height="390" alt="{{ $imgAlt2 }}">
    </div>
  </div>
</div>