{{ $title := .Site.Params.homeIntro.title }}

{{ $btnText := .Site.Params.homeIntro.btn_text }}
{{ $btnUrl := .Site.Params.homeIntro.btn_url }}

{{ $imgUrl1 := .Site.Params.homeIntro.img_url_1 | absURL }}
{{ $imgAlt1 := .Site.Params.homeIntro.img_alt_1 }}

<section class="s-home-top">
  <div class="container">
    <div class="s-home-top__title-group">
      <div class="s-home-top__img">
        <img src="{{ $imgUrl1 }}" alt="{{ $imgAlt1 }}">
      </div>
      <h1 class="s-home-top__title">{{ $title }}</h1>
    </div>
    <div class="s-home-top__controls">
      <a href="{{ $btnUrl }}" class="btn btn-primary btn-rounded">
        {{ $btnText }}
      </a>
    </div>
  </div>
</section>