<section class="s-contacts">
  <div class="container">
    <div class="s-contacts__wrap">
      <h1 class="s-contacts__title">
        <span>{{ .Title }}</span>
      </h1>
      <p class="s-contacts__descr">{{ .Description }}</p>
      <div class="contact-form">
        <form action="#" id="contacts-form" method="post">
          <div class="form-control">
            <input type="text" name="fullname" id="name" class="input-control" placeholder="Your Name">
            <span class="input-error-message"></span>
          </div>
          <div class="form-control">
            <input type="email" name="email" id="email" class="input-control" placeholder="Email">
            <span class="input-error-message"></span>
          </div>
          <p class="form-message" id="form-notif"></p>
          <div class="form-btn">
            <button type="submit" id="submit-btn" class="btn btn-black">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>