<section class="s-why-items">
  <div class="container">
    <div class="s-why-items__wrap">
      {{ range .Params.items }}
        <div class="why-item">
          <div class="why-item__img">
            <img src="{{ .img }}" loading="lazy" width="330" height="288" alt="Image">
          </div>
          <h3 class="why-item__title">{{ .title }}</h3>
          <div class="why-item__text">
            {{ .text | safeHTML }}
          </div>
        </div>
      {{ end }}
    </div>
    <div class="s-why-items__btn">
      <a href="/subscribe/" class="btn btn-primary btn-rounded">
        Stay in touch
      </a>
    </div>
  </div>
</section>