<div class="s-why-second-info s-scrollable">
  <div class="container">
    <div class="s-why-second-info__wrap">
      <div class="s-why-second-info__left">
        <div class="s-why-second-info__text">
          <p>{{ .Params.secondInfoSection.text }}</p>
          <span>{{ .Params.secondInfoSection.author }}</span>
        </div>
        <div class="s-why-second-info__question-card">
          {{ partial "common/question-card.html" (
            dict "imgPath" "/img/person-img-1.jpg"
            "text" "Have a question you want answered?"
            "btnUrl" "/contact-us/"
            "btnText" "Send us a note"
          ) }}
        </div>
      </div>
      <div class="s-why-second-info__right">
        <img src="{{ .Params.secondInfoSection.img }}" loading="lazy" width="453" height="720" alt="Image">
      </div>
    </div>
    <div class="s-why-second-info__arrows">
      <div class="arrows-control arrows-scroll-btn">
        {{ readFile "static/img/icons/arrows-icon.svg" | safeHTML }}
      </div>
    </div>
  </div>
</div>